
/* CSS BY (Malia Sako) */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}
/* GLOBAL STYLES (mobile first/small) */
@media (max-width: 450px) {

}
body, footer {
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--lavender);
}
header {
    background-color: var(--purple);
    text-align: center;
    padding: 30px;
}
header p {
    padding-top: 10px;
    color: var(--white);
    font-style: italic;
    font-size: 0.9em;
}
nav {
    background-color: var(--yellow);
    text-align: center;
    text-transform: uppercase;
    gap: 1rem;
}
nav ul {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    background-color: var(--white);
    color: var(--purple);
    font-weight: bold;
    margin: auto;
}
nav li {
    list-style-type: none;
    width: 350px;
    padding: 10px;
}
nav h2 {
    font-style: italic;
    padding: 10px;
}
/*Services section-----------------------------*/
.services {
    background-color: var(--purple);
    padding-bottom: 5px;
}
.services h2 {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.services h3 {
    padding-top: 0;
    padding-left: 20px;
}
.personalDevelopment, 
.careerCoaching,
.relationshipCoaching,
.supportiveComm,
.focusedSess,
.interactiveLearning,
.flexibleLearning
{
    background-color: var(--white);
    max-width: 370px;
    border-radius: 10px;
    padding: 20px;
    margin: 15px auto;
    line-height: 1.6em;
}
/*Why choose us Section-----------------------------*/
.choose {
    background-color: var(--pink);
}
.choose h2 {
    padding: 15px 20px;
}
.choose ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
}
.tealC {
    background-color: var(--teal);
    text-align: center;
    padding: 35px;
    border-radius: 10px;
    margin: 0 7px 15px 15px;
}
.lavenderC {
    background-color: var(--lavender);
    text-align: center;
    padding: 35px;
    border-radius: 10px;
    margin: 0 15px 15px 7px;
}
.yellowC {
    background-color: var(--yellow);
    text-align: center;
    padding: 35px;
    border-radius: 10px;
    margin: 0 7px 15px 15px;
}
.whiteC {
    background-color: var(--white);
    text-align: center;
    padding: 35px;
    border-radius: 10px;
    margin: 0 15px 15px 7px;
}
/*Pricing Section-----------------------------*/
.pricing {
    background-color: var(--purple);
    padding-bottom: 10px;
}
.pricing h2 {
    padding: 15px 20px 0px 20px;
}
.pricing h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.table1,
.table2,
.table3,
.table4
{
    font-family: Inter, sans-serif;
    margin: auto;
}
.table1 th,
.table2 th,
.table3 th,
.table4 th
{
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--yellow);
    padding: 15px 25px;
    border: solid 2px var(--yellow);
}
.table1 td,
.table2 td,
.table3 td,
.table4 td
{
    background-color: var(--white);
    padding: 15px 25px;
    border: solid 2px var(--yellow);
}
/*first step Section-----------------------------*/
.firstStep {
    background-color: var(--pink);
}
.firstStep h2 {
    padding: 15px 20px 10px 20px;
}
.firstStep p {
    padding: 0px 20px 10px 20px;
    color: var(--white);
    line-height: 1.6em;
}
/*footer Section-----------------------------*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--white);
    background-color: var(--purple);
    padding: 50px 20px 50px 0;
    text-align: center;
}
footer a {
    color: var(--white);
}
/*font sizing Section-----------------------------*/
h1, h2 {
    font-family: Kavoon, sans-serif;
}
p, h3, h4, ul {
    font-family: Inter, sans-serif;
}
h1 {
    font-size: 3em;
    color: var(--white);
}
nav h2 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Inter, sans-serif;
    color: var(--dark-gray);
}
h2 {
    font-size: 2em;
    color: var(--white);
}
h3 {
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bold;
}
h4 {
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bold;
    line-height: 2em;
}
/**/